<div class="mb-3">
  <label for="originUrl" class="form-label">Input URL here:</label>
  <input type="url" class="form-control" id="originUrl" name="originUrl" autofocus required>
</div>

<div class="d-grid mb-2">
  <button class="btn btn-primary" type="submit">Shorten</button>
</div>