<div class="mb-3">
  <p>Success! Please use this link:</p>
  <a id="URL" href="{{shortUrl}}" target="_blank" class="fs-3">{{shortUrl}}</a>
</div>

<div class="d-grid gap-2 mb-2">
  <button class="btn btn-primary" type="button" id="copy">Copy URL</button>
  <a class="btn btn-secondary" href="/">Shorten Another URL</a>
</div>